*.vsix
out
node_modules
.vscode-test

# Build related
build-results/
tools/Cake/
tools/nuget.exe
tools/gitreleasemanager/
tools/GitVersion.CommandLine/
tools/Addins/
tools/packages.config.md5sum

# until we move to Yarn
yarn.lock